version2/flows.json
[
    {
        "id": "f0dd2da34cfc9e90",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "intensity_sub",
        "type": "mqtt in",
        "z": "f0dd2da34cfc9e90",
        "name": "Intensity Subscribe",
        "topic": "Medibox735E/intensity",
        "qos": "2",
        "datatype": "auto",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 320,
        "wires": [
            [
                "intensity_display",
                "parse_intensity",
                "debug_intensity"
            ]
        ]
    },
    {
        "id": "temperature_sub",
        "type": "mqtt in",
        "z": "f0dd2da34cfc9e90",
        "name": "Temperature Subscribe",
        "topic": "Medibox735E/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 1000,
        "wires": [
            [
                "temperature_display",
                "parse_temperature",
                "debug_temperature"
            ]
        ]
    },
    {
        "id": "debug_intensity",
        "type": "debug",
        "z": "f0dd2da34cfc9e90",
        "name": "Intensity Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 180,
        "wires": []
    },
    {
        "id": "debug_temperature",
        "type": "debug",
        "z": "f0dd2da34cfc9e90",
        "name": "Temperature Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 840,
        "wires": []
    },
    {
        "id": "parse_intensity",
        "type": "function",
        "z": "f0dd2da34cfc9e90",
        "name": "Parse Intensity",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 380,
        "wires": [
            [
                "intensity_gauge",
                "intensity_chart"
            ]
        ]
    },
    {
        "id": "parse_temperature",
        "type": "function",
        "z": "f0dd2da34cfc9e90",
        "name": "Parse Temperature",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1060,
        "wires": [
            [
                "temperature_gauge",
                "temperature_chart"
            ]
        ]
    },
    {
        "id": "intensity_display",
        "type": "ui_text",
        "z": "f0dd2da34cfc9e90",
        "group": "light_intensity_group",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Average Intensity",
        "label": "Average Light Intensity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "intensity_gauge",
        "type": "ui_gauge",
        "z": "f0dd2da34cfc9e90",
        "name": "Intensity Gauge",
        "group": "light_intensity_group",
        "order": 2,
        "width": 0,
        "height": 0,
        "title": "Light Intensity",
        "label": "",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#ff7f00",
            "#ffff00"
        ],
        "seg1": "0.2",
        "seg2": "0.6",
        "x": 740,
        "y": 320,
        "wires": []
    },
    {
        "id": "intensity_chart",
        "type": "ui_chart",
        "z": "f0dd2da34cfc9e90",
        "name": "Intensity History",
        "group": "light_intensity_group",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Intensity Over Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "temperature_display",
        "type": "ui_text",
        "z": "f0dd2da34cfc9e90",
        "group": "temperature_group",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Temperature",
        "label": "Temperature (°C)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 590,
        "y": 920,
        "wires": []
    },
    {
        "id": "temperature_gauge",
        "type": "ui_gauge",
        "z": "f0dd2da34cfc9e90",
        "name": "Temperature Gauge",
        "group": "temperature_group",
        "order": 2,
        "width": 0,
        "height": 0,
        "title": "Temperature",
        "label": "°C",
        "format": "{{value | number:1}}",
        "min": "10",
        "max": "40",
        "colors": [
            "#00b500",
            "#ff7f00",
            "#ff0000"
        ],
        "seg1": "25",
        "seg2": "32",
        "x": 820,
        "y": 980,
        "wires": []
    },
    {
        "id": "temperature_chart",
        "type": "ui_chart",
        "z": "f0dd2da34cfc9e90",
        "name": "Temperature History",
        "group": "temperature_group",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperature Over Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff7f00"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "ts_slider",
        "type": "ui_slider",
        "z": "f0dd2da34cfc9e90",
        "name": "Sampling Interval",
        "label": "Sampling Interval (s)",
        "tooltip": "",
        "group": "light_intensity_group",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "Medibox220498D/intensitySampling",
        "topicType": "str",
        "min": "1",
        "max": "60",
        "step": "1",
        "className": "",
        "x": 290,
        "y": 520,
        "wires": [
            [
                "ts_publish"
            ]
        ]
    },
    {
        "id": "tu_slider",
        "type": "ui_slider",
        "z": "f0dd2da34cfc9e90",
        "name": "Sending Interval",
        "label": "Sending Interval (min)",
        "tooltip": "",
        "group": "light_intensity_group",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "Medibox220498D/intensitySending",
        "topicType": "str",
        "min": "1",
        "max": "10",
        "step": "1",
        "className": "",
        "x": 280,
        "y": 660,
        "wires": [
            [
                "tu_publish"
            ]
        ]
    },
    {
        "id": "titaoffset_slider",
        "type": "ui_slider",
        "z": "f0dd2da34cfc9e90",
        "name": "Minimum Angle",
        "label": "Minimum Angle (°)",
        "tooltip": "",
        "group": "servo_control_group",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "Medibox220498D/titaoffset",
        "topicType": "str",
        "min": "0",
        "max": "120",
        "step": "1",
        "className": "",
        "x": 340,
        "y": 1180,
        "wires": [
            [
                "titaoffset_publish"
            ]
        ]
    },
    {
        "id": "gamma_slider",
        "type": "ui_slider",
        "z": "f0dd2da34cfc9e90",
        "name": "Control Factor",
        "label": "Control Factor (γ)",
        "tooltip": "",
        "group": "servo_control_group",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "Medibox220498D/controlFact",
        "topicType": "str",
        "min": "0",
        "max": "1",
        "step": "0.01",
        "className": "",
        "x": 340,
        "y": 1300,
        "wires": [
            [
                "gamma_publish"
            ]
        ]
    },
    {
        "id": "tempmed_slider",
        "type": "ui_slider",
        "z": "f0dd2da34cfc9e90",
        "name": "Ideal Temperature",
        "label": "Ideal Temp (°C)",
        "tooltip": "",
        "group": "servo_control_group",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "Medibox220498D/tempmed",
        "topicType": "str",
        "min": "10",
        "max": "40",
        "step": "1",
        "className": "",
        "x": 330,
        "y": 1420,
        "wires": [
            [
                "tempmed_publish"
            ]
        ]
    },
    {
        "id": "ts_publish",
        "type": "mqtt out",
        "z": "f0dd2da34cfc9e90",
        "name": "Publish Ts",
        "topic": "Medibox735E/intensitySampling",
        "qos": "2",
        "retain": true,
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 630,
        "y": 580,
        "wires": []
    },
    {
        "id": "tu_publish",
        "type": "mqtt out",
        "z": "f0dd2da34cfc9e90",
        "name": "Publish Tu",
        "topic": "Medibox735E/intensitySending",
        "qos": "2",
        "retain": true,
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 610,
        "y": 720,
        "wires": []
    },
    {
        "id": "titaoffset_publish",
        "type": "mqtt out",
        "z": "f0dd2da34cfc9e90",
        "name": "Publish θoffset",
        "topic": "Medibox735E/titaoffset",
        "qos": "2",
        "retain": true,
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 680,
        "y": 1260,
        "wires": []
    },
    {
        "id": "gamma_publish",
        "type": "mqtt out",
        "z": "f0dd2da34cfc9e90",
        "name": "Publish γ",
        "topic": "Medibox735E/controlFact",
        "qos": "2",
        "retain": true,
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 680,
        "y": 1380,
        "wires": []
    },
    {
        "id": "tempmed_publish",
        "type": "mqtt out",
        "z": "f0dd2da34cfc9e90",
        "name": "Publish Tmed",
        "topic": "Medibox735E/tempmed",
        "qos": "2",
        "retain": true,
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 700,
        "y": 1500,
        "wires": []
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "light_intensity_group",
        "type": "ui_group",
        "name": "Light Intensity",
        "tab": "dashboard_ui",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "temperature_group",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "dashboard_ui",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "servo_control_group",
        "type": "ui_group",
        "name": "Servo Control",
        "tab": "dashboard_ui",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dashboard_ui",
        "type": "ui_tab",
        "name": "Medibox Dashboard",
        "icon": "dashboard",
        "disabled": false
    }
]